* {
    padding: 0;
    margin:0;
}

body{
  background-color: paleturquoise;
}
header{
    height: 75px;
    background-color:paleturquoise;
}

.logo{
    height: 80px;
}

main{
    display:flex;
    flex-direction:column;
    padding-top: 30px;
    align-items:center;
    gap: 40px;

   }

   :root{
     --primary-color: paleturquoise;
     --space-defaut:70px;
   }
   .foto-filme{
     width: 700px;
    }

   .titulo {
     font-size: 32px;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }

    .titulo{
     color:royalblue;
    }

    .subtitulo{
     color:royalblue;
    }

    .info{
    font-size:20px;
    color:black;
     }

    .descrição{
        color: royalblue;
    }

    .intro-container{
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 20px;
    }

   .filmes-container{
     width: 250px;

    }

   .filmes-container ul{
     flex-direction: column;

    }
    
   .sinopse{
     align-items:center;
     width: 700px;
     font-size:16px;
    
    }
   
   .rodapé {
     background-color:paleturquoise;
     width: 1000 ;
    }

    .rodapé{
    display: flex;
    flex-direction: row-reverse;
    justify-items:right;
    padding-right: 25px;
    
    }
    .action{
      place-self: center end;
      display: flex;
      align-items: center;
    }

    @media (max-width: 960px){
      main{ 
        grid-template-columns: repeat(1, 1fr);
      }

      .titulo {
        font-size: 30px;
       }

       .info{
        font-size: 18px;
       }

      .titulo {
        place-self: center;
      }

      :root{
        --space-defaut: 30px;
      }

      .descrição{
        place-self: center;
        text-align: center;
      }

      .foto-filme{
        width: 600px;
      }
 
      .sinopse{
        display: flex;
        place-self: center;
      }
      .rodapé{
        display: none;
      }

      
      }

   @media (max-width: 640px){

    .titulo {
      font-size: 28px;
     }
     .info{
      font-size: 16px;
     }
    .logo{
      transform: translate(20%, -20%);
    }

    .descrição{
      display: none;
    }

    .foto-filme{
      width: 100px;
    }

    .sinopse{
      display: none;
    }

    .filmes-container{
      width: 150px;
      font-size: smaller;
    }
   }





    
   
